body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

.container {
    display: flex; /* Use flexbox to center align vertically and horizontally */
    justify-content: center; /* Center horizontally */
    height: 100vh; /* Set a height for the container (100vh = 100% of viewport height) */
  }
  
  h1 {
    text-align: center; /* Center-align the text horizontally within the <h1> element */
  }
  
/* Style the footer */
.footer {
    color: white;
    text-align: center;
    padding: 5px;
}


/* Style for the form */
.search {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

/* Style for the input field */
.search input[type="text"] {
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  width: 200px;
}

/* Style for the submit button */
.search input[type="button"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
}